body{
    color: white;
    font-size: 14px;
    font-family: Papyrus, Herculanum, Party LET, Curlz MT, Harrington, fantasy;
    
}

header, main, footer {
    background-color: #290001;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

ul {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: none;
  margin: 0;
}


.logo { 
    font-size: 24px;
    display: flex;
    align-items: flex-start;
    padding: 8px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.bean-img {
    max-width: 400px;
    display: flex;
    padding: 30px;
    justify-content: flex-end;
    align-items: center;
}

.info {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    
}

button {
    cursor: pointer;
    padding: 7px 20px;
    border-radius: 8px;
    background-color: #ffefd5;
    
}

.strong {
    font-size: 48px;
    font-weight: 900;
}

 .type {
    background-color: #ddd3ca;
    color: black;
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: center;
    gap: 52px;

 }
 .type-header {
    font-size: 36px;
    padding:  30px;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #ddd3ca;
 }

.coffee-type{
 max-width: 200px;
}

 .coffee-img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 8px;

 }

 .costumer {
    background-color: #836953;
    padding:  60px 300px;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
 }
 .from {
    display: flex;
    justify-content: flex-end;
 }